<!DOCTYPE html>
<html xmlns:th="http://.www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>boostrap to thymeleaf</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
crossorigin="anonymous">
<link th:href= "@{/css/boostrap.min.css}" rel= "stylesheet">
</head>
<body>
  <div class = "container"></div>
      <div class = "row">
         <div class = "col-md-6">
           <table>
             <thead>
             <tr>
                 <th> First Car Name</th>
                  <th>Second Car Name</th>
                  <th>Third Car Name</th>
                  <th>FourthCar Name</th>
             </tr>
             </thead>
             <tbody>
             </tbody>
                   <tr>
                       <td>BMW</td>
                       <td>Cadillac</td>
                       <td>Mercedez</td>
                       <td>Tesla</td>
                  </tr>
                  </tbody>
                  </table>
                  </div>
                  </div>
                  </div>
                 </table>             
</body>
</html> 
            
